input::placeholder {
    color: rgb(13, 255, 0);
}

#perspective {
    margin-left: 100px;
    width: 300px;
    height: 300px;
    perspective: 600px;
}

#container {
    width: 300px;
    height: 300px;
    line-height: 0;
    transform-style: preserve-3d;
}

.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: black;
}
